DB_NAME=english_db
DB_USER=english
DB_PASSWORD=change_me
DB_HOST=postgres
DB_PORT=5432

POSTGRES_DB=english_db
POSTGRES_USER=english
POSTGRES_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

BOT_TOKEN=change_me

API_HOST=0.0.0.0
API_PORT=8000
LOG_LEVEL=INFO

OPEN_AI_API_KEY=change_me
OPEN_AI_TRANSCRIPTION_MODEL=whisper-1

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
