DEBUG=0

DB_NAME=english_db
DB_USER=english
DB_PASSWORD=change_me
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=english_db
POSTGRES_USER=english
POSTGRES_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

BOT_TOKEN=change_me

API_HOST=0.0.0.0
API_PORT=8000
SITE_URL=https://your-english.study
WWW_URL=https://www.your-english.study
APP_URL=https://app.your-english.study
API_URL=https://api.your-english.study
APP_DOMAIN=app.your-english.study
API_DOMAIN=api.your-english.study
LOG_LEVEL=INFO

OPEN_AI_API_KEY=change_me
OPEN_AI_TRANSCRIPTION_MODEL=whisper-1

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
